<form [formGroup]="form">
  <div class="form-group">
    <label for="">Old Password</label>
    <input formControlName="oldPassword" type="password"
      class="form-control" name="">
  </div>
  <div *ngIf="oldPassword.touched && oldPassword.invalid"  class="alert alert-danger" role="alert">
    <div *ngIf="oldPassword.errors.required">Old password is required.</div>
    <div *ngIf="oldPassword.errors.invalidOldPassword">Old password is not mach.</div>
  </div>
  <div class="form-group">
    <label for="">New Password</label>
    <input formControlName="newPassword" type="password"
      class="form-control" name="">
  </div>
  <div *ngIf="newPassword.touched && newPassword.invalid"  class="alert alert-danger" role="alert">
    New password is required.
  </div>
  <div class="form-group">
    <label for="">Confirm Password</label>
    <input formControlName="confirmPassword" type="password"
      class="form-control" name="">
  </div>
  <div *ngIf="confirmPassword.touched && confirmPassword.invalid"  class="alert alert-danger" role="alert">
    Confirm password is required.
  </div>
    <button type="button" class="btn btn-primary">Change Password</button>
</form>


